@tailwind base;
@tailwind components;
@tailwind utilities;


 

@font-face {
  font-family: 'Nokia';
  src: url('./assets/fonts/nokia.ttf');
}

*{
  font-family:'Nokia'; 
}

 
.cursor-pointer{
  -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}